@use "../abstracts/mixins" as *;

.d-header {
  position: sticky;
  top: 0;
  width: 100vw;
  height: 100px;
  padding: 0 40px 0 20px;
  background: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 1px 1px 10px #00000007;
  z-index: 100;

  .l-part {
    display: flex;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .menu {
    display: none;
    cursor: pointer;
  }
  nav {
    display: flex;
    align-items: center;
    gap: 5em;
    transition: height 300ms ease;

    .links {
      position: relative;
      display: flex;
      align-items: center;
      gap: 3em;

      li a {
        font-size: 14px;
        font-weight: 500;
        color: var(--text-1);
      }
    }

    .auth-buttons {
      display: flex;
      align-items: center;
      gap: 3em;

      .login-btn {
        font-size: 14px;
        font-weight: 500;
        padding: 12px;
        color: var(--special);
      }
      .register-btn {
        @include linkBtn;
      }
    }
    .profil {
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid var(--special);
      .pp {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 2px solid var(--special);
        background: var(--secondary);

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 1440px) {
  .d-header {
    padding: 0 20px 0 0;

    nav {
      gap: 2em;

      .auth-buttons {
        gap: 1em;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .d-header {
    .menu {
      display: block;
    }
    nav {
      position: absolute;
      overflow: hidden;
      height: 0;
      left: 0;
      top: 100px;
      width: 100%;
      gap: 3em;
      background: var(--secondary);
      flex-direction: column;
      justify-content: center;

      .links,
      .auth-buttons {
        flex-direction: column;
      }
    }
    nav.active {
      height: 450px;
    }
  }
}
