@use "../abstracts/mixins" as *;

.home {
  .hero-section {
    width: 100vw;
    min-height: calc(100vh - 100px);
    height: calc(100vh - 100px);
    background: var(--primary);
    display: flex;
    gap: 1em;

    .l-part,
    .r-part {
      width: 50%;
      height: 100%;
      padding: 4rem;
    }

    .l-part {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3em;

      .title {
        display: flex;
        flex-direction: column;
        gap: 1em;
        h1 {
          font-size: clamp(1.5rem, 2.5vw, 3rem);
          font-weight: 600;
          color: var(--text-1);
        }
        h2 {
          font-size: clamp(0.8rem, 1.8vw, 1.8rem);
          font-weight: 500;
          color: var(--text-3);
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-left: 1rem;
        li {
          font-size: 18px;
          color: var(--text-1);
          list-style: disc;
        }
      }
      .actions-btn {
        display: flex;
        gap: 1em;
        a {
          @include linkBtn(16);
          padding: 12px 20px;
        }
        button {
          padding: 12px;
          border-radius: 10px;
          border: 2px solid var(--special);
          background: transparent;
          cursor: pointer;

          p {
            font-size: 16px;
            font-weight: 600;
            color: var(--special);
          }
        }
      }
    }
    .r-part {
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 100%;
        z-index: 1;
      }
    }
  }
  .section-2 {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    height: 80vh;
    background: var(--secondary);
    border: 1px solid var(--border);
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
      min-width: 1000px;
      min-height: 500px;
      width: 50%;
      height: 50%;
      background: var(--special-variant-2);
      border-radius: 40px;
      display: flex;
      z-index: 2;
      .l-part,
      .r-part {
        width: 50%;
        height: 100%;
        display: flex;
      }
      .l-part {
        align-items: center;
        justify-content: center;
        .image {
          width: 80%;
          height: 80%;

          img {
            width: 100%;
            height: 100%;
            border-radius: 30px;
            border: 2px solid var(--primary);
          }
        }
      }
      .r-part {
        flex-direction: column;
        justify-content: space-around;
        padding: 4rem;

        h2 {
          color: var(--text-2);
          font-size: 2.5rem;
          font-weight: 600;
        }
        p {
          color: var(--text-2);
          font-size: 2.3rem;
          font-weight: 600;
        }
        button {
          @include button;
          border: none;
        }
      }
    }
  }
  .qualities-section {
    width: 100vw;
    min-height: 50vh;
    height: auto;
    padding: 2em;
    background: var(--primary);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 1em;

    .box {
      width: 25%;
      min-width: 400px;
      height: 250px;
      border-radius: 40px;
      border: 1px solid var(--border);
      background: var(--secondary);
    }
  }
  .prices-section {
    width: 100vw;
    height: 100vh;
    background: var(--primary);
  }
}
@media screen and (max-width: 1440px) {
  .section-2 .box {
    min-width: 800px !important;
    min-height: 300px !important;
  }
}
@media screen and (max-width: 960px) {
  .home .hero-section {
    flex-direction: column-reverse;
    .l-part,
    .r-part {
      width: 100%;
      height: 50%;
      padding-top: 9rem;
      align-items: center;
    }
    .l-part {
      justify-content: start;
      gap: 3em;
      h1 {
        text-align: center;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .home .hero-section {
    .l-part .action-buttons {
      flex-direction: column;
    }
    .r-part .img {
      min-width: 300px;
      min-height: 300px;
    }
  }
}
