@use "../abstracts/mixins" as *;

.r-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    position: relative;
    padding: 10px;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 2em;

    .info {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    h1 {
      color: var(--text-1);
    }
    p {
      color: var(--border);
    }
    .error {
      color: red;
      font-size: 0.9rem;
      margin-top: 5px;
    }

    .details {
      display: flex;
      flex-direction: column;
      gap: 1em;
    }

    input,
    select {
      @include input;
    }

    .next-step {
      display: flex;
      justify-content: center;
      gap: 1em;

      button {
        width: 60px;
        height: 40px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: none;
        color: var(--special);
        background: var(--secondary);
        cursor: pointer;
        transition: opacity 200ms ease;

        &:hover {
          opacity: 0.7;
        }
      }
    }
    .role-img {
      position: absolute;
      right: -50%;
      img {
        width: 100px;
      }
    }
    .progress-bar {
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, -50%);
      .range {
        width: 350px;
        height: 5px;
        background: var(--secondary);
        border-radius: 30px;

        .progress {
          width: 0%;
          height: 100%;
          background: var(--special);
          border-radius: 30px;
          transition: width 0.3s ease;
        }
      }
    }
  }
}
